<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <title>
            <a href="/">Marc Nickl</a>

        </title>
       

        <nav>
            <a href="/">Marc Nickl</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
       <small> <a style="color :black; text-decoration: none"
        href="https://www.marcnickl.com/">Marc Nickl</a> </small>
    </footer>
</body>
</html>